<html>
  <head>
    <title>Twitter Gifts</title>
    <%= stylesheet_link_tag 'application' %>
    <%= yield :stylesheets %>
    <%= yield :javascript %>
  </head>
  <body>
    <div id='body'>
      <%= yield %>
    </div>
  </body>
</html>
